html {
     box-sizing: border-box;
}
*, *::before, *::after {
     box-sizing: inherit;
}
body {
     line-height: 24px;
}
.container {
     width: 900px;
     margin: 0 auto;
}
body {
     font-family: 'Playfair Display', serif;
     color: #626262;
     font-size: 14px;
     line-height: 24px;
}
.real a {
     text-transform: uppercase;
     text-decoration: none;
     color:#626262;
}
.real {
     list-style: none;
     height: 138px;
     padding-left: 0px;
     margin-top: 0px;
     text-align: center;
     vertical-align: middle;
     padding-bottom: 0px;
}
.real li {
     display: inline-block;
}
.real li:not(:last-child) {
     margin-right: 115px;
}
.qwerty {
     margin-top: 60px;
}
.main-item {
     list-style: none;
     padding-left: 0px;
     margin: 0;
     padding: 0;
}
.site-navigation {
     height: 138px;
     margin: 0px;
     padding: 0px;
}
.site-navigation li {
     font-size: 14px;
}
.site-navigation a:hover,
.site-navigation a:focus {
     color: #03A9F4;
}
.main-list-item {
     width: 420px;
     display: inline-block;
}
.main-list-item:not(:nth-child(2n)) {
     margin-right: 56px;
     padding-left: 0px;
}
.footer-item {
     height: 186px;
     font-size: 20px;
     text-align: center;
     vertical-align: middle;
}
.button-item {
     border: 1px solid #000;
     display: inline;
     margin: 0;
     padding: 18px 48px;
     font-size: 20px;
     line-height: 24px;
     cursor: pointer;
     margin-top: 58px;
     background-color: #fff;
}
.main-item p:not(:last-child) {
     color: #b4ad9e;
     text-transform: uppercase;
}
h2 {
     font-size: 30px;
}