html {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
*, *::before, *::after {
     box-sizing: inherit;
}
.container {
     width: 900px;
     margin: 0 auto;
}
body {
     font-family: 'Playfair Display', serif;
     color: #626262;
     font-size: 14px;
     line-height: 24px;
}
.real a {
     text-transform: uppercase;
     text-decoration: none;
     color:#626262;
}
.real {
     list-style: none;
     height: 138px;
     text-align: center;
     vertical-align: middle;
     padding-bottom: 0px;
}
.real li {
     display: inline-block;
}
.real li:not(:last-child) {
     margin-right: 115px;
}
.qwerty {
     margin-top: 60px;
}
.main-item {
     list-style: none;
     padding-left: 0px;
}
.site-navigation {
     margin: 0px;
     padding: 0px;
}
.site-navigation a:hover,
.site-navigation a:focus {
     color: #03A9F4;
}
.main-list-item {
     width: 420px;
     display: inline-block;
}
.main-list-item:not(:nth-child(2n)) {
     margin-right: 56px;
     padding-left: 0px;
}
h2 {
     font-size: 30px;
}
.button-item {
     display: block;
     border: 1px solid #000;
     width: 164px;
     height: 60px;
     background-color: #fff;
     margin: auto;
     margin-top: 56px;
     font-family: 'Playfair Display', serif;
     font-size: 20px;
     font-weight: 400;
     margin-bottom: 70px;
}

.pharagraph-style {
     font-family: 'Ubuntu', sans-serif;
     line-height: 17px;
     color: #b4ad9e;
     text-transform: uppercase;

}